<div class="election">
  <h3>Input</h3>
    {{ input.title }}
    {{ input.candidates }}
    {{ input.ballots }}
    <h3>Output</h3>
    <pre>{{output}}</pre>
    <h3>Form</h3>

      <form>
      <div class="form-group">
        <label for="election">Election</label>
        <input
        [(ngModel)]="input.title"
        name="f1"
        type="text" class="form-control" id="election" required>
      </div>
      <div class="form-group">
        <label for="candidates">Candidates</label>
        <textarea
        name="f2"
        [(ngModel)]="input.candidates"
        type="text" class="form-control" id="candidates" required>
        </textarea>
      </div>
      <div class="form-group">
        <label for="ballots">Ballots</label>
        <textarea
        name="f3"
        [(ngModel)]="input.ballots"
        type="text" class="form-control" id="ballots" required>
        </textarea>
      </div>
      <button
        (click)="go()"
        type="submit" class="btn btn-success">Go!</button>
    </form>
</div>
