<div class="main-container">
  <fountain-header></fountain-header>
  <main class="main">
    <fountain-title></fountain-title>
    <h1>Election starts</h1>
    <election></election>
    <h1>Starting</h1>
    <fountain-techs></fountain-techs>
  </main>
  <fountain-footer></fountain-footer>
</div>
